*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai{
    position: relative;
    height: 70mm;
    width: 100mm;
    background-color: aqua;
    padding: 2mm;

}

.D29{
    position: absolute;
    width: 29.16mm;
    height: 4.72mm;
    right: 40.58mm;
    bottom: 62.50mm;
    font-size: 12pt;
    background-color: bisque;
    border: 1px solid black;
}

.D30{
    position: absolute;
    width: 23.14mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 57.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;

}

.D31{
    position: absolute;
    width: 28.63mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 52.50mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D32{
    position: absolute;
    width: 37.45mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 48.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D34{
    position: absolute;
    width: 20.58mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 44.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}


.D36{
    position: absolute;
    width: 19.21mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 31.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}


.D44{
    position: absolute;
    width: 41.57mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 18.34mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D42{
    position: absolute;
    width: 17.45mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 13.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D41{
    position: absolute;
    width: 40.18mm;
    height: 3.94mm;
    left: 54.50mm;
    bottom: 13.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D40{
    position: absolute;
    width: 8.23mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 9.10mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.linha3{
    display: flex;
    position: absolute;
}

.linha2{
    display: flex;
}

.linha1{
    display: flex;
    position: absolute;
    background-color: rgb(151, 47, 47);
    align-items: center;
    justify-content: center;
    
}

@media print{
    button{
        display: none;
    }
}




