*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai{
    position: relative;
    height: 70mm;
    width: 100mm;
    background-color: aqua;
    padding: 2mm;

}

.D03{
    position: absolute;
    width: 29.16mm;
    height: 4.72mm;
    right: 41.08mm;
    bottom: 62.00mm;
    font-size: 12pt;
    background-color: bisque;
    border: 1px solid black;
}

.D45{
    position: absolute;
    width: 23.14mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 56.50mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;

}

.D26{
    position: absolute;
    width: 28.63mm;
    height: 3.15mm;
    left: 5.00mm;
    bottom: 52.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D27{
    position: absolute;
    width: 37.45mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 47.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D04{
    position: absolute;
    width: 20.58mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 41.50mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}


.D05{
    position: absolute;
    width: 19.21mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 29.50mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}


.D43{
    position: absolute;
    width: 40.54mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 16.50mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D06{
    position: absolute;
    width: 17.45mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 12.50mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D28{
    position: absolute;
    width: 39.20mm;
    height: 3.94mm;
    left: 55.50mm;
    bottom: 12.50mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.D07{
    position: absolute;
    width: 8.23mm;
    height: 3.94mm;
    left: 5.00mm;
    bottom: 8.00mm;
    font-size: 10pt;
    background-color: bisque;
    border: 1px solid black;
}

.linha3{
    display: flex;
    position: absolute;
}

.linha2{
    display: flex;
}

.linha1{
    display: flex;
    position: absolute;
    background-color: rgb(151, 47, 47);
    align-items: center;
    justify-content: center;
    
}


@media print{
    button{
        display: none;
    }
}



